S3method(print,bertini)
S3method(print,hierarchical)
S3method(print,m2)
S3method(print,polyOptim)
S3method(print,tableau)
S3method(summary,bertini)
export(Amaker)
export(Emaker)
export(Mmaker)
export(Pmaker)
export(Smaker)
export(Tmaker)
export(bertini)
export(bump)
export(condorcet)
export(hierarchical)
export(hmat)
export(is.bertini)
export(is.m2)
export(lower)
export(lpnorm)
export(m2)
export(markov)
export(mchoose)
export(metropolis)
export(polyOptim)
export(polySolve)
export(print.spectral)
export(projectOnto)
export(rvotes)
export(spectral)
export(subsets)
export(tab2vec)
export(tableau)
export(teshape)
export(upper)
export(variety)
export(vec2tab)
import(Rcpp)
import(mpoly)
import(reshape2)
import(stringr)
useDynLib(algstat)
